*{
    margin:0px;
    padding:0px;
}
body{
    font-size: 120%;
    background:#F8F8FF;
    
}
.header{
    margin:50px auto 0px;
    color: white;
    text-align: center;
    border-bottom:none;
    border-radius:10px 10px 0px 0px;
    border: 1px solid #80C4DE;
    background-color: #5F9EA0;
    text-align:center;
    top: 0px;
    width: 30%;
    padding: 20px;
}